<% trend = formatter.trend(type) %>

<tr id="market-trade-<%= tid %>" class="<%= classes %> form__column-container form__column-container-value" style="width:100%;">
  <td class="form__column-value order-list__column order-list__column-value"><div>
    <%= formatter.mask_fixed_volume(amount) %>
  </div></td>
  <td class="form__column-value order-list__column order-list__column-value"><div>
    <%= type %>
  </div></td>
  <td class="form__column-value order-list__column order-list__column-value"><div>
    <%= formatter.mask_fixed_price(price) %>
  </div></td>
  <td class="form__column-value order-list__column order-list__column-value" title="<%= formatter.fix_bid(price*amount) %>"><div>
    0.15
  </div></td>
  <td class="form__column-value order-list__column order-list__column-value" title="<%= formatter.fix_bid(price*amount) %>"><div>
    <%= formatter.trade_time(date) %>
  </div></td>
</tr>