<% trade_state = (origin_volume == volume) ? 'new' : 'partial' %>

<div data-id="<%= id %>" data-kind="<%= kind %>" class="order <%= kind %> form__column-container form__column-container-value parent_tr">
  <div class="form__column order-history__column form__column-value">
      <span><%= formatter.mask_fixed_volume(volume) %></span>
  </div>
  <!--<div class="form__column order-history__column form__column-value text--red red-before">
      <span><%= formatter.mask_fixed_volume(volume) %></span>
  </div>-->
  <div class="form__column order-history__column form__column-value <%= formatter.trend(kind) %>">
    <span><%= formatter.mask_fixed_price(price) %></span>
  </div>
  <div class="form__column order-history__column form__column-value">
    <span><%= formatter.fulltime(at) %></span>
  </div>
</div>