<div class="buy-sell__body invisible" id="buy-id">  
  <div id="bid_entry" class="panel panel-default entry-right">
    <div class="buy-sell__radio-button-container">
      <label class="radio-container buy-sell__radion-button">Limit
        <input type="radio" checked="checked" name="buy-radio"/><span class="checkmark"></span>
      </label>
      <label class="radio-container">Market
        <input type="radio" name="buy-radio"/><span class="checkmark"></span>
      </label>
    </div>
    <div class="panel-body">
      <%= form_for 'order_bid', url: "/markets/#{market.fetch(:id)}/order_bids", remote: true, html: { class: 'new_order_bid', id: 'new_order_bid' } do |f| %>
        <%= f.hidden_field :ord_type, value: 'limit' %>

        <div class="buy-sell__input-block-container">
          <div class="input-block input-block--half">
              <p class="input-block__title">Price</p>
              <div class="input-block__field">
                  <%= f.text_field :price, class: 'input-block__input' %>
                  <p class="input-block__post-mark"><%= market.fetch(:bid_unit).upcase %></p>
              </div>
          </div>
          <div class="input-block input-block--half">
              <div class="input-block__title">Amount</div>
              <div class="input-block__field">
                  <%= f.text_field :origin_volume, class: 'input-block__input', placeholder: '0.00' %>
                  <p class="input-block__post-mark"><%= market.fetch(:ask_unit).upcase %></p>
              </div>
          </div>
        </div>
        <div class="buy-sell__btn-block">
            <div class="buy-sell__btn-block-header">
                <div class="buy-sell__btn-title">Total</div>
                <p class="buy-sell__btn-mark">
                  <%= f.text_field :total, class: '', style:'border: none;background: none;' %>
                  <span class="buy-sell__btn-mark--extra"><%= market.fetch(:bid_unit).upcase %></span>
                </p>
            </div>
            <%= render partial: 'balance', locals: { currency: market.fetch(:bid_unit).upcase } %>

            <button class="buy-sell__btn btn btn--blue" type="submit">
              <%= t('.action', currency: @data.fetch(:current_market).fetch(:ask_unit).upcase) %>
            </button>
        </div>
      <% end %>
    </div>
    <!-- <%= render partial: 'mask' %> -->
  </div>
</div>
<!--
<div class="buy-sell__body invisible" id="buy-id">
  <div class="buy-sell__radio-button-container">
    <label class="radio-container buy-sell__radion-button">Limit
      <input type="radio" checked="checked" name="sell-radio"/><span class="checkmark"></span>
    </label>
    <label class="radio-container">Market
      <input type="radio" name="sell-radio"/><span class="checkmark"></span>
    </label>
  </div>
  <div class="buy-sell__input-block-container">
    <div class="input-block">
      <p class="input-block__title">Amount</p>
      <div class="input-block__field">
        <input placeholder="0.00" class="input-block__input"/>
        <p class="input-block__post-mark">BTC</p>
      </div>
    </div>
  </div>
  <div class="buy-sell__btn-block">
    <div class="buy-sell__btn-block-header">
      <div class="buy-sell__btn-title">Total</div>
      <p class="buy-sell__btn-mark">0.00<span class="buy-sell__btn-mark--extra">USD</span></p>
    </div>
    <button class="buy-sell__btn btn btn--blue">Sell</button>
  </div>
</div> -->