<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>KoinFit Exchange</title>

    <meta name="description" content="Exchange">

    <meta name="viewport" content="width=device-width">

    <link rel="apple-touch-icon" href="https://cryptodealexchange.in/favicon.png">
    <link rel="icon" type="image/png" href="https://cryptodealexchange.in/favicon.png">
    <meta name="application-name" content="KoinFit Exchange Trading">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= ENV.fetch('METADATA_DESCRIPTION') %>">
    <meta name="keywords" content="<%= ENV.fetch('METADATA_KEYWORDS') %>">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= @data.fetch(:csrf_token) %>" />
    <!-- <%= stylesheet_link_tag 'application', media: 'all' %> -->
    <%= stylesheet_link_tag 'marketcustom', media: 'all'  %>
    <%= javascript_tag do %>
      window.gon = <%= @data.fetch(:gon_variables).to_json.html_safe %>;
    <% end %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5' %>
    <![endif]-->
    <script src="/trading-ui-assets/trading.js"></script>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'application' %> 
    <script src="/trading-ui-assets/market_header.js"></script>
    <script src="/trading-ui-assets/market_logic.js"></script>

  </head>
  <body ng-app="coinvest" class="theme--light"><%= yield %></body>
</html>
